body {	color:#666;
	font:300 15px/15px Roboto,Arial,Helvetica;
	background-color:#fff;-webkit-font-smoothing:antialiased;}

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#00a9c6;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#1BC0DC;box-shadow: none;}

.topbar {background:url(../images/lines.png);	height:5px;position: fixed;top: 0;width: 110%;z-index: 1000;}
.navbar-nav > li > a{font-size: 1.07em;line-height: 3em;}
.navbar-fixed-top{
	top: 4px;
	background-color: #424345;
}
.navbar-inverse{background: #1b1b1b;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background: none;color: #21abca;}
.navbar-collapse .nav > li > a {
    color: #ffffff; /* Texte blanc pour les liens */
}
/* Couleur des liens actifs ou survolés */
.navbar-collapse .nav > li > a:hover,
.navbar-collapse .nav > li > a:focus {
    color: #ff6600; /* Texte orange lorsqu'on survole le lien */
    background: none; /* Assurez-vous qu'il n'y a pas de fond */
}
/* Couleur des liens actifs */
.navbar-collapse .nav > li.active1 > a {
    color: #ffffff; /* Texte blanc pour les liens actifs */
    background: none; /* Assurez-vous qu'il n'y a pas de fond */
}
.navbar-brand1{
	display: flex;
	align-items: center;
}
.navbar-brand1 img{
	border-radius: 50px;
	object-fit: cover;
	margin-right: 15px;
}
.navbar-brand1 .navbar-text {
	font-size: 19px;
	color: #ffff;
}
#head,.carousel{margin-top: 0;}

#home{padding-top: 6em;background-color: #424345;}
.carousel-caption{top:0;bottom: 0;left: 0; right: 0;padding: 0;}
.caption-wrapper{display: table;height: 100%;width: 100%;}
.caption-info {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 100px; /* Déplace l'élément de 20px vers la droite */
}
.text-box-container {
    display: flex;
    justify-content: space-between; /* Espace entre les boxes */
    align-items: stretch; /* Etire les boxes pour qu'elles aient la même hauteur */
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
}


.text-box h4, .text-box p {
    margin: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1;
    max-width: 33.3333%;
    padding: 15px;
}

.text-box h4 i {
    color: #004F68; /* Couleur de l'icône */
    margin-right: 10px; /* Espace entre l'icône et le texte */
    font-size: 24px; /* Taille de l'icône */
    vertical-align: middle; /* Aligner l'icône avec le texte */
}


.caption-info h1 {
    font-size: 0.75em;
    vertical-align: middle;
	margin-top: 5px; /* Réduit l'espace au-dessus du paragraphe */
    line-height: 1.2; /* Réduit l'espace entre les lignes du paragraphe */
	position: relative;
	left: 130px;
}

.caption-info p {
    font-size: 4em;
    vertical-align: middle;
    position: relative;
	margin-bottom: 10px; /* Réduit l'espace sous le titre */
    left: 130px; /* Déplace l'élément de 130px vers la droite */
    margin-top: 20px; /* Réduit l'espace au-dessus du paragraphe */
    line-height: 1.2; /* Réduit l'espace entre les lignes du paragraphe */
}

.caption-info .btn i{margin-right:0.75em;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width: 100%;}
.carousel-control{z-index:1000;}




.caption-info .btn i{margin-right:0.75em;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width: 70%;

}

.carousel-control{z-index:1000;}



/*about
.about.spacer{padding-left: 4em; padding-right: 4em;padding-bottom: 0;}
.process ul li{width: 10em;height: 10em;border: 1px solid #CEEBF0;padding: 0;border-radius: 50%;margin: 0 1.25em;line-height: 13.5em;color: #21ABCA;}
.process ul li span{line-height: 2em;display: inline-block;font-weight: 300;}
.process ul li span i{font-size: 3em;}
.process ul li span b{display: block;font-size: 1em;font-weight: 300;} */

/* ============================== */
/*          About Section        */
/* ============================== */
.about-section {
    background-color: #f9f9f9; /* Fond léger */
    padding: 80px 20px; /* Espacement aéré */
    margin-top: 60px;
    text-align: center;
    border-radius: 10px; /* Coins arrondis */
}

/* ============================== */
/*          Images               */
/* ============================== */
.about-section img {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px; /* Espacement en bas de l'image */
}

/* ============================== */
/*          Titles               */
/* ============================== */
.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333; /* Couleur du texte */
}

/* ============================== */
/*          Text Styles          */
/* ============================== */
.about-section .text-primary {
    color: #007bff;
}

.about-section p {
    margin-bottom: 20px;
    color: #555; /* Couleur de texte plus douce */
    line-height: 1.6; /* Améliore la lisibilité */
}

/* ============================== */
/*          Button Styles        */
/* ============================== */
.about-section .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.75em 1.5em;
    font-size: 1.1em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.about-section .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}


/* ============================== */
/*          Team Section         */
/* ============================== */
.team-section {
    background-color: #f4f6f7;
    padding: 80px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ============================== */
/*          Title               */
/* ============================== */
.team-section h2 {
    font-size: 2.8em;
    margin-bottom: 20px;
    text-align: center;
    color: #080808;
}

/* ============================== */
/*          Description          */
/* ============================== */
.team-section p {
    margin-bottom: 40px;
    text-align: center;
    color: #222222;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* ============================== */
/*          Member Cards         */
/* ============================== */
.team-member {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-5px);
}


/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    height: auto;
    display: block;
}

.card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
    color: #666;
}

/* Button Styles */
.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* Map Container */
.map-container {
    text-align: center;
    margin: 2em 0;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
    margin-left: -20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-section img {
        max-width: 100%;
    }
}

/*testimonials*/
.partners img{float: left;margin:0 75px 30px 0;}
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #2BB2E3;}
.carousel-indicators{bottom: 0;}

/* Conteneur des images */
#works {
    padding-top: 6em;
    text-align: center;
}

/* Conteneur en grille pour les figures */
.works-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

/* Styles pour chaque figure */
.works-grid figure {
    flex: 1 1 calc(25% - 1em); /* 4 images par ligne */
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

/* Media query pour les écrans moyens */
@media (max-width: 992px) {
    .works-grid figure {
        flex: 1 1 calc(33.33% - 1em);
    }
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .works-grid figure {
        flex: 1 1 calc(50% - 1em);
    }
}

/* Media query pour les très petits écrans */
@media (max-width: 480px) {
    .works-grid figure {
        flex: 1 1 100%;
    }
}

/* Styles pour les images */
.works-grid img {
    display: block;
    width: 100%;
    height: auto;
}

/* Styles pour les légendes */
.works-grid figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1em;
    text-align: center;
}


/* Styles pour les liens dans les légendes */
#works figcaption a {
	border: 2px solid #fff;
	background-color: #ff5733;
	color: #fff;
	padding: 0.5em 2em;
	margin-top: 1em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 5px;
	transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

/* Styles pour le bouton lors du survol */
#works figcaption a:hover {
	background-color: #c0392b;
	color: #ffd700;
	padding: 0.5em 2.5em;
	border-color: #ffd700;
}

/* Transition pour le survol */
#works figcaption a {
	transition: padding 0.3s ease;
}

/* Conteneur du bouton "Voir plus de modèles" */
.button-container {
    text-align: center;
    margin-top: 2em;
    padding: 0;
    margin-bottom: 1em;
}

/* Styles pour le bouton "Voir plus de modèles" */
.btn-primary {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff;
	padding: 0.6em 1.2em;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
    max-width: 200px;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}

/* Styles du bouton au survol */
.btn-primary:hover {
	background-color: #218838;
	border-color: #218838;
}

/* Contact css */
/* Conteneur du formulaire */
.container.contactform {
    max-width: 500px;
    padding: 1.8em 1.8em;
    padding-top: 5em;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 2.5em auto;
    border: 1px solid #ddd;
}

.container.contactform h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 0.75em;
    font-weight: 700;
}

.container.contactform small {
    display: block;
    margin-top: 0.5em;
    color: #080808;
    text-align: center;
    font-style: italic;
}

.form-group {
    margin-bottom: 1.25em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 1em;
    color: #070707;
}

.form-group .form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.75em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    display: block; /* Make the button a block element */
    margin: 1.5em auto; /* Center it horizontally with margin */
    padding: 0.75em 1.5em; /* Adjust padding as needed */
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #218838;
    border-color: #1e7e34;
}

@media (max-width: 767px) {
    .container.contactform {
        padding: 1.5em 1em;
        padding-top: 11em;
    }

    .container.contactform h2 {
        font-size: 1.5em;
    }

    .form-group label {
        font-size: 0.9em;
    }

    .form-group .form-control {
        font-size: 0.9em;
    }

    .btn-primary {
        font-size: 0.9em;
        padding: 0.6em 1em;
    }
}


/* Styles pour la section d'information */
.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    background-color: #ffffff;
    padding: 2em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 0 1em 2em;
    border-radius: 10px;
    text-align: center;
}

.contact-info img {
    width: 110%;
    height: 340px;
    border-radius: 8px;
    object-fit: cover;
}

.contact-info h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.75em;
}

.contact-info p,
.contact-info a {
    margin: 0.9em 0;
    color: #333;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    margin: 0.9em 0;
}

.contact-info a:hover {
    text-decoration: underline;
    margin: 0.9em 0;
}


.map-container iframe {
    width: 110%;
    height: 340px;
    border: 0;
    border-radius: 8px;
    margin-left: -20px;
}

/*Fin contact*/

/*team*/
.team figure{width: 100%;}
.team img{width: 100%;}
.team b{font-size: 1.2em;display: block;}
.team a i.fa{color: #fff; font-size: 2em;}
.team a i.fa:hover{color: #21abca;}


.highlight-info{ background:url(../images/t3.png) center fixed; background-size: cover; color:#fff;}
.highlight-info .overlay{background: rgba(33,171,202,0.5);}
.highlight-info h4{color: #fff;margin:0.5em 0 0 0;}
/*about us*/


.footer{background-color: #111; color: #fff; font-size: 1em;color: #aaa;}
.footer a{color: #aaa;margin: 0 1em; }

.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}


@media (max-width: 1200px) {
    body {
        font: 300 14px/1.5 Roboto, Arial, Helvetica; /* Légère augmentation de la taille et amélioration de l'interligne */
    }
    .navbar-brand {
        padding-top: 10px; /* Ajustez pour un meilleur alignement */
    }
    .process ul li {
        margin: 0 0.5em; /* Gardez une marge pour espacer les éléments */
    }
    .grid figure h2 {
        font: 700 1.4em Roboto, Arial, Helvetica; /* Légère réduction pour une meilleure lisibilité */
    }
    figure.effect-oscar figcaption {
        padding: 10%; /* Ajustez le padding pour un meilleur ajustement visuel */
    }
    figure.effect-oscar figcaption::before,
    figure.effect-chico figcaption::before {
        top: 15px; /* Ajustez pour mieux s'adapter à la taille réduite */
        right: 15px;
        bottom: 15px;
        left: 15px;
    }
    .partners img {
        margin: 0 20px 20px 0; /* Réduisez légèrement les marges pour éviter un trop grand espacement */
        width: auto; /* Permet à l'image de s'ajuster sans déformation */
    }
}


@media (max-width: 900px) {
    h1 {
        font: 700 1.8em Roboto, Arial, Helvetica; /* Réduisez la taille pour plus d'équilibre */
        text-align: center; /* Centrez le titre pour une meilleure présentation */
    }
    h4 {
        font: 300 1.2em Roboto, Arial, Helvetica; /* Ajustez la taille de la police */
    }
    .btn {
        padding: 0.8em 1.5em; /* Réduisez le padding pour un meilleur ajustement */
        font-size: 1em; /* Ajustez la taille du texte du bouton */
    }
    .partners img {
        margin: 0 10px 20px 0; /* Réduisez les marges pour mieux s'adapter */
        width: 130px; /* Ajustez la taille des images */
    }
    .process ul li {
        width: 8em; /* Réduisez la largeur des éléments de la liste */
        height: 8em; /* Réduisez la hauteur pour un meilleur ajustement */
    }
    figure.effect-chico figcaption {
        padding: 1.5em; /* Réduisez le padding */
    }
    figure.effect-oscar figcaption {
        padding: 15%; /* Réduisez le padding pour un meilleur affichage */
    }
    figure.effect-chico figcaption::before {
        top: 8px; /* Ajustez les valeurs pour un meilleur ajustement */
        right: 8px;
        bottom: 8px;
        left: 8px;
    }
    .grid figure.effect-chico p {
        font-size: 0.8em; /* Augmentez légèrement la taille pour la lisibilité */
        line-height: 1.4em; /* Ajustez l'interligne pour plus d'espace */
    }
}



@media (max-width: 767px) {
    body {
        font: 300 12px/1.5 Roboto, Arial, Helvetica; /* Ajustez la ligne de hauteur pour une meilleure lisibilité */
    }
    .navbar-nav > li > a {
        line-height: 1.2em; /* Augmentez légèrement la hauteur de ligne pour plus d'espace */
    }
    .navbar-brand {
        padding: 5px; /* Réduisez le padding pour un meilleur ajustement */
    }
    .navbar-brand img {
        height: 30px; /* Ajustez la taille de l'image */
        border-radius: 50px;
    }
    .navbar-toggle {
        margin-top: 10px; /* Ajustez la marge du bouton de navigation */
    }

    .carousel-caption, .carousel-control, .carousel-indicators {
        display: none; /* Cacher les éléments de la carousel */
    }

    h2.text-center {
        text-align: left; /* Alignez le texte à gauche pour une meilleure lisibilité */
        font-size: 1.5em; /* Réduisez la taille de la police */
    }
    h4 {
        font: 300 1.1em Roboto, Arial, Helvetica; /* Ajustez la taille de la police */
    }
    #partners h2 {
        padding: 0 1em; /* Ajustez le padding */
    }
    #home {
        padding-top: 11em; /* Ajustez le padding supérieur */
    }

    .partners {
        display: block;
        float: none; /* Supprimez le flottement pour un affichage en colonne */
    }
    .partners img {
        width: 100px; /* Ajustez la largeur des images */
    }

    .about.spacer {
        padding: 1em; /* Réduisez le padding pour les petits écrans */
    }
    .spacer {
        padding: 1em 0 0 0; /* Ajustez le padding */
    }
    .process ul li {
        margin-bottom: 0.5em; /* Réduisez l'espacement entre les éléments de la liste */
    }

    .highlight-info .overlay {
        padding-bottom: 1em; /* Ajustez le padding */
    }

    .grid.team div {
        margin: 0; /* Supprimez les marges */
        padding: 0; /* Supprimez le padding */
    }
    figure.effect-chico figcaption {
        padding: 1em; /* Réduisez le padding */
    }
    .footer {
        margin-top: 1em; /* Ajustez la marge supérieure */
        padding-bottom: 1em; /* Ajustez le padding inférieur */
    }
}

/* page work */
/* Barre de recherche */
.search-bar {
    margin: 110px auto 40px;
    padding: 0 20px;
    max-width: 600px;
    position: relative;
    z-index: 1020;
}

.form-inline {
    display: flex;
    justify-content: center;
}

.form-control {
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    flex: 1;
}

.btn-outline-primary {
    border-radius: 8px;
    padding: 6px 15px;
    border: 1px solid #007bff;
    color: #064b95;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #275f9b;
    color: #4dd0f1;
    border-color: #007bff;
}

/* Cartes de voiture */
.card {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    text-align: center;
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


/* Pied de page */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    border-top: 1px solid var(--card-border-color);
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-brand1 {
        flex-direction: column;
        align-items: center;
        padding: 10px; /* Adjust padding for better spacing */
        text-align: center; /* Center text for better alignment */
    }

    .navbar-text {
        margin-top: 7px;
        font-size: 18px;
    }
}
